VITE_SUPABASE_URL=https://jaacarvcdtzvoanhodex.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphYWNhcnZjZHR6dm9hbmhvZGV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTM5NjYsImV4cCI6MjA5Mjg2OTk2Nn0.O082Zd9BjcYFCf8_xoIKOp1SoY2jKo5BVOdfupVaYsg